#map {
    height: 734px;
    width: 1268px;
    position: absolute;
}

.leaflet-div-icon {
    background: none;
    border: none;
}

.leaflet-marker-icon img {
    height: 24px;
    width: 24px;
}

/* Apply the shake animation to haarvest icon*/
@keyframes shake {
    0% { transform: translateX(0) rotate(0deg); }
    5% { transform: translateX(-1px) rotate(5deg); }
    10% { transform: translateX(1px) rotate(-5deg);; }
    15% { transform: translateX(-1px) rotate(5deg);; }
    20%, 100% { transform: translateX(0) rotate(0deg);; }
}

.shake {
    animation: shake 2.5s infinite;
}

p {
    margin: 5px;
}

.leaflet-popup-content img {
    width: 300px;
}

.dropdown-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 5px; /* Adjust as needed for spacing between items */
}

.dropdown-container select {
    height: 69.9px;
    width: 69.9px;
    background-color: rgb(43, 22, 2);
    color: bisque;
    text-align: left;
    border: none;
    box-sizing: border-box;
    margin: 5px 0;
}

.dropdown-container select option {
    white-space: normal;
}